:root {
  --main-black: #101828;
  --dark-grey: #8e929a;
  --main-color: #ffffff;
  --blue-btn: #3470ff;
  --active-btn: #0b44cd;
  --bg-white: #f7f7f7;
  --second-dark-white: #f2f4f7;
  --blue-gray: #dadde1;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}
body {
  background: var(--bg-white);
  color: var(--main-black);
  font-family: var(--font-manrope), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;

  @media (max-width: 1024px) {
    padding: 0 32px;
  }

  @media (max-width: 768px) {
    padding: 0 16px;
  }
}
