.listContainer {
  margin-top: 56px;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  column-gap: 32px;
  row-gap: 42px;
}

.listContainer > li {
  flex: 0 0 calc((100% - 96px) / 4);

  @media (max-width: 1200px) {
    flex-basis: calc((100% - 64px) / 3);
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 32px) / 2);
  }

  @media (max-width: 600px) {
    flex-basis: 100%;
  }
}
